## Preprocessing

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("Resources/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
#  YOUR CODE GOES HERE
application_df.drop(['EIN', 'NAME'], axis = 1, inplace = True)

In [3]:
# Determine the number of unique values in each column.
#  YOUR CODE GOES HERE
application_df.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [4]:
# Look at APPLICATION_TYPE value counts for binning
#  YOUR CODE GOES HERE
application_df["APPLICATION_TYPE"].value_counts()

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [5]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
#  YOUR CODE GOES HERE
application_types_to_replace = ['T9', 'T13', 'T12', 'T2', 'T25', 'T14', 'T29', 'T15', 'T17']
# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [6]:
# Look at CLASSIFICATION value counts for binning
#  YOUR CODE GOES HERE
application_df["CLASSIFICATION"].value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [7]:
# You may find it helpful to look at CLASSIFICATION value counts >1
#  YOUR CODE GOES HERE
classification_df  = application_df["CLASSIFICATION"].value_counts().loc[lambda x : x>1]
classification_df

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: CLASSIFICATION, dtype: int64

In [17]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
#  YOUR CODE GOES HERE
# Replace in dataframe
classifications_to_replace = list(classification_df[classification_df < 300].index)
# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

Other    34273
C1580        1
C1900        1
C1820        1
C6100        1
C1248        1
C2600        1
C1370        1
C5200        1
C4200        1
C2190        1
C1236        1
C2570        1
C3700        1
C2561        1
C2500        1
C1570        1
C1283        1
C2380        1
C1732        1
C1728        1
C2170        1
C4120        1
C8210        1
C4500        1
C1245        1
C2150        1
Name: CLASSIFICATION, dtype: int64

In [19]:
# Convert categorical data to numeric with `pd.get_dummies`
#  YOUR CODE GOES HERE
cols = [col for col in application_df.columns if application_df.dtypes[col] == 'object']
df_with_dummies = pd.get_dummies(application_df, columns=cols)
df_with_dummies

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,1,108590,1,0,0,0,1,0,0,0,...,1,0,0,0,0,0,0,0,1,0
2,1,5000,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
3,1,6692,1,0,0,0,1,0,0,0,...,0,1,0,0,0,0,0,0,1,0
4,1,142590,1,0,0,0,1,0,0,0,...,0,0,1,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,1,5000,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,1,0
34295,1,5000,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,1,0
34296,1,5000,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,1,0
34297,1,5000,1,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
34298,1,36500179,0,0,0,0,1,0,0,0,...,0,0,0,0,1,0,0,0,1,0

In [21]:
# Split our preprocessed data into our features and target arrays
#  YOUR CODE GOES HERE
X  = df_with_dummies.drop(columns='IS_SUCCESSFUL', axis=1)
y = df_with_dummies['IS_SUCCESSFUL']

# Split the preprocessed data into a training and testing dataset
#  YOUR CODE GOES HERE
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42, stratify=y)

In [22]:
X_train

,STATUS,ASK_AMT,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,APPLICATION_TYPE_T7,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
13532,1,14651,0,0,0,1,0,0,0,0,...,0,0,0,0,0,1,0,0,1,0
6087,1,5000,0,0,0,1,0,0,0,0,...,0,1,0,0,0,0,0,0,1,0
21879,1,17162,0,0,0,1,0,0,0,0,...,0,0,1,0,0,0,0,0,1,0
6193,1,5000,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
28999,1,5000,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13359,1,5000,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
7079,1,5000,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
21827,1,108245,0,0,0,1,0,0,0,0,...,0,0,1,0,0,0,0,0,1,0
16717,1,5000,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
28518,1,5000,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0

In [23]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [28]:
X_train_scaled[0]

array([ 0.01079982, -0.03243656, -0.08940766, -0.12631614, -0.17915797,
        0.51551722, -0.21799562, -0.18519442, -0.19062721, -0.14573754,
       -0.14587657, -0.92021435, -0.04139318,  0.92613763, -0.03118975,
       -0.01247081, -0.01870803, -0.00623504, -0.00623504, -0.00623504,
       -0.00623504, -0.00623504, -0.00623504,  0.        , -0.00623504,
       -0.00623504,  0.        , -0.00623504, -0.00623504,  0.        ,
       -0.00623504, -0.00623504, -0.00623504, -0.00623504, -0.00623504,
       -0.00623504, -0.00623504, -0.00623504,  0.        , -0.00623504,
       -0.00623504,  0.        , -0.00623504,  0.02858365, -0.10733765,
       -0.06612829, -0.00881785,  0.46677307, -0.44142208, -0.64973713,
       -0.12146379, -0.03637956,  0.67452011, -1.57494419, -0.1454591 ,
       -0.12551965, -0.329838  , -0.08204493, -0.17053882,  2.86649057,
       -0.06340457, -0.07450354,  0.02925687, -0.02925687])

## Compile, Train and Evaluate the Model

In [29]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
#  YOUR CODE GOES HERE

nn = tf.keras.models.Sequential()
number_input_features = len(X_train_scaled[0])
hidden_nodes_layer1 =  8
hidden_nodes_layer2 = 5
# First hidden layer
#  YOUR CODE GOES HERE
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu"))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential_3"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_6 (Dense)             (None, 8)                 520

 dense_7 (Dense)             (None, 5)                 45

 dense_8 (Dense)             (None, 1)                 6

=================================================================
Total params: 571
Trainable params: 571
Non-trainable params: 0
_________________________________________________________________

In [30]:
# Compile the model
#  YOUR CODE GOES HERE
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [31]:
# Train the model
#  YOUR CODE GOES HERE
nn_fit = nn.fit(X_train_scaled, y_train, epochs=100)

Epoch 1/100
804/804 [==============================] - 1s 697us/step - loss: 0.6163 - accuracy: 0.6974
Epoch 2/100
804/804 [==============================] - 1s 661us/step - loss: 0.5800 - accuracy: 0.7247
Epoch 3/100
804/804 [==============================] - 0s 622us/step - loss: 0.5734 - accuracy: 0.7252
Epoch 4/100
804/804 [==============================] - 0s 607us/step - loss: 0.5699 - accuracy: 0.7274
Epoch 5/100
804/804 [==============================] - 0s 617us/step - loss: 0.5675 - accuracy: 0.7275
Epoch 6/100
804/804 [==============================] - 0s 608us/step - loss: 0.5668 - accuracy: 0.7283
Epoch 7/100
804/804 [==============================] - 0s 612us/step - loss: 0.5665 - accuracy: 0.7281
Epoch 8/100
804/804 [==============================] - 0s 611us/step - loss: 0.5660 - accuracy: 0.7276
Epoch 9/100
804/804 [==============================] - 0s 608us/step - loss: 0.5660 - accuracy: 0.7277
Epoch 10/100
804/804 [==============================] - 0s 615us/step - loss: 0.5653 - accuracy: 0.7287
Epoch 11/100
804/804 [==============================] - 1s 626us/step - loss: 0.5652 - accuracy: 0.7287
Epoch 12/100
804/804 [==============================] - 0s 615us/step - loss: 0.5653 - accuracy: 0.7289
Epoch 13/100
804/804 [==============================] - 1s 628us/step - loss: 0.5648 - accuracy: 0.7283
Epoch 14/100
804/804 [==============================] - 1s 641us/step - loss: 0.5649 - accuracy: 0.7286
Epoch 15/100
804/804 [==============================] - 1s 647us/step - loss: 0.5648 - accuracy: 0.7290
Epoch 16/100
804/804 [==============================] - 0s 620us/step - loss: 0.5646 - accuracy: 0.7280
Epoch 17/100
804/804 [==============================] - 1s 652us/step - loss: 0.5642 - accuracy: 0.7299
Epoch 18/100
804/804 [==============================] - 1s 626us/step - loss: 0.5641 - accuracy: 0.7284
Epoch 19/100
804/804 [==============================] - 1s 639us/step - loss: 0.5641 - accuracy: 0.7289
Epoch 20/100
804/804 [==============================] - 0s 618us/step - loss: 0.5640 - accuracy: 0.7296
Epoch 21/100
804/804 [==============================] - 0s 619us/step - loss: 0.5641 - accuracy: 0.7288
Epoch 22/100
804/804 [==============================] - 1s 643us/step - loss: 0.5639 - accuracy: 0.7292
Epoch 23/100
804/804 [==============================] - 1s 625us/step - loss: 0.5641 - accuracy: 0.7292
Epoch 24/100
804/804 [==============================] - 1s 646us/step - loss: 0.5637 - accuracy: 0.7292
Epoch 25/100
804/804 [==============================] - 0s 618us/step - loss: 0.5639 - accuracy: 0.7290
Epoch 26/100
804/804 [==============================] - 1s 637us/step - loss: 0.5637 - accuracy: 0.7297
Epoch 27/100
804/804 [==============================] - 1s 631us/step - loss: 0.5638 - accuracy: 0.7297
Epoch 28/100
804/804 [==============================] - 1s 647us/step - loss: 0.5637 - accuracy: 0.7294
Epoch 29/100
804/804 [==============================] - 1s 643us/step - loss: 0.5635 - accuracy: 0.7304
Epoch 30/100
804/804 [==============================] - 0s 613us/step - loss: 0.5636 - accuracy: 0.7303
Epoch 31/100
804/804 [==============================] - 1s 623us/step - loss: 0.5635 - accuracy: 0.7304
Epoch 32/100
804/804 [==============================] - 0s 617us/step - loss: 0.5635 - accuracy: 0.7297
Epoch 33/100
804/804 [==============================] - 1s 637us/step - loss: 0.5636 - accuracy: 0.7307
Epoch 34/100
804/804 [==============================] - 1s 625us/step - loss: 0.5634 - accuracy: 0.7298
Epoch 35/100
804/804 [==============================] - 1s 663us/step - loss: 0.5634 - accuracy: 0.7293
Epoch 36/100
804/804 [==============================] - 1s 679us/step - loss: 0.5632 - accuracy: 0.7307
Epoch 37/100
804/804 [==============================] - 1s 664us/step - loss: 0.5635 - accuracy: 0.7303
Epoch 38/100
804/804 [==============================] - 0s 620us/step - loss: 0.5634 - accuracy: 0.7302
Epoch 39/100
804/804 [==============================] - 1s 636us/step - loss: 0.5630 - accuracy: 0.7299
Epoch 40/100
804/804 [==============================] - 1s 650us/step - loss: 0.5631 - accuracy: 0.7303
Epoch 41/100
804/804 [==============================] - 1s 632us/step - loss: 0.5629 - accuracy: 0.7301
Epoch 42/100
804/804 [==============================] - 1s 639us/step - loss: 0.5630 - accuracy: 0.7303
Epoch 43/100
804/804 [==============================] - 1s 637us/step - loss: 0.5631 - accuracy: 0.7306
Epoch 44/100
804/804 [==============================] - 1s 626us/step - loss: 0.5629 - accuracy: 0.7297
Epoch 45/100
804/804 [==============================] - 1s 628us/step - loss: 0.5629 - accuracy: 0.7302
Epoch 46/100
804/804 [==============================] - 1s 634us/step - loss: 0.5630 - accuracy: 0.7308
Epoch 47/100
804/804 [==============================] - 1s 644us/step - loss: 0.5628 - accuracy: 0.7309
Epoch 48/100
804/804 [==============================] - 0s 621us/step - loss: 0.5628 - accuracy: 0.7304
Epoch 49/100
804/804 [==============================] - 0s 616us/step - loss: 0.5626 - accuracy: 0.7308
Epoch 50/100
804/804 [==============================] - 0s 614us/step - loss: 0.5629 - accuracy: 0.7310
Epoch 51/100
804/804 [==============================] - 1s 633us/step - loss: 0.5628 - accuracy: 0.7304
Epoch 52/100
804/804 [==============================] - 0s 611us/step - loss: 0.5628 - accuracy: 0.7298
Epoch 53/100
804/804 [==============================] - 1s 623us/step - loss: 0.5628 - accuracy: 0.7302
Epoch 54/100
804/804 [==============================] - 1s 622us/step - loss: 0.5626 - accuracy: 0.7308
Epoch 55/100
804/804 [==============================] - 1s 634us/step - loss: 0.5626 - accuracy: 0.7306
Epoch 56/100
804/804 [==============================] - 1s 658us/step - loss: 0.5627 - accuracy: 0.7309
Epoch 57/100
804/804 [==============================] - 1s 686us/step - loss: 0.5626 - accuracy: 0.7303
Epoch 58/100
804/804 [==============================] - 1s 638us/step - loss: 0.5625 - accuracy: 0.7302
Epoch 59/100
804/804 [==============================] - 1s 638us/step - loss: 0.5627 - accuracy: 0.7302
Epoch 60/100
804/804 [==============================] - 1s 648us/step - loss: 0.5626 - accuracy: 0.7302
Epoch 61/100
804/804 [==============================] - 1s 637us/step - loss: 0.5625 - accuracy: 0.7314
Epoch 62/100
804/804 [==============================] - 1s 629us/step - loss: 0.5624 - accuracy: 0.7307
Epoch 63/100
804/804 [==============================] - 0s 618us/step - loss: 0.5623 - accuracy: 0.7300
Epoch 64/100
804/804 [==============================] - 0s 615us/step - loss: 0.5626 - accuracy: 0.7303
Epoch 65/100
804/804 [==============================] - 0s 606us/step - loss: 0.5625 - accuracy: 0.7308
Epoch 66/100
804/804 [==============================] - 0s 618us/step - loss: 0.5624 - accuracy: 0.7310
Epoch 67/100
804/804 [==============================] - 0s 610us/step - loss: 0.5621 - accuracy: 0.7308
Epoch 68/100
804/804 [==============================] - 1s 626us/step - loss: 0.5624 - accuracy: 0.7300
Epoch 69/100
804/804 [==============================] - 0s 616us/step - loss: 0.5623 - accuracy: 0.7306
Epoch 70/100
804/804 [==============================] - 0s 617us/step - loss: 0.5623 - accuracy: 0.7300
Epoch 71/100
804/804 [==============================] - 0s 611us/step - loss: 0.5622 - accuracy: 0.7314
Epoch 72/100
804/804 [==============================] - 0s 612us/step - loss: 0.5626 - accuracy: 0.7308
Epoch 73/100
804/804 [==============================] - 1s 629us/step - loss: 0.5624 - accuracy: 0.7304
Epoch 74/100
804/804 [==============================] - 1s 636us/step - loss: 0.5622 - accuracy: 0.7309
Epoch 75/100
804/804 [==============================] - 1s 641us/step - loss: 0.5624 - accuracy: 0.7311
Epoch 76/100
804/804 [==============================] - 1s 646us/step - loss: 0.5621 - accuracy: 0.7309
Epoch 77/100
804/804 [==============================] - 1s 654us/step - loss: 0.5623 - accuracy: 0.7305
Epoch 78/100
804/804 [==============================] - 1s 628us/step - loss: 0.5622 - accuracy: 0.7304
Epoch 79/100
804/804 [==============================] - 0s 617us/step - loss: 0.5622 - accuracy: 0.7310
Epoch 80/100
804/804 [==============================] - 0s 610us/step - loss: 0.5622 - accuracy: 0.7298
Epoch 81/100
804/804 [==============================] - 1s 625us/step - loss: 0.5621 - accuracy: 0.7308
Epoch 82/100
804/804 [==============================] - 0s 620us/step - loss: 0.5621 - accuracy: 0.7309
Epoch 83/100
804/804 [==============================] - 0s 612us/step - loss: 0.5622 - accuracy: 0.7309
Epoch 84/100
804/804 [==============================] - 0s 614us/step - loss: 0.5621 - accuracy: 0.7311
Epoch 85/100
804/804 [==============================] - 1s 633us/step - loss: 0.5619 - accuracy: 0.7308
Epoch 86/100
804/804 [==============================] - 1s 622us/step - loss: 0.5622 - accuracy: 0.7313
Epoch 87/100
804/804 [==============================] - 1s 628us/step - loss: 0.5620 - accuracy: 0.7307
Epoch 88/100
804/804 [==============================] - 0s 613us/step - loss: 0.5617 - accuracy: 0.7297
Epoch 89/100
804/804 [==============================] - 0s 617us/step - loss: 0.5620 - accuracy: 0.7311
Epoch 90/100
804/804 [==============================] - 0s 613us/step - loss: 0.5621 - accuracy: 0.7303
Epoch 91/100
804/804 [==============================] - 0s 614us/step - loss: 0.5621 - accuracy: 0.7312
Epoch 92/100
804/804 [==============================] - 0s 619us/step - loss: 0.5621 - accuracy: 0.7304
Epoch 93/100
804/804 [==============================] - 0s 614us/step - loss: 0.5619 - accuracy: 0.7313
Epoch 94/100
804/804 [==============================] - 0s 613us/step - loss: 0.5620 - accuracy: 0.7311
Epoch 95/100
804/804 [==============================] - 1s 622us/step - loss: 0.5617 - accuracy: 0.7313
Epoch 96/100
804/804 [==============================] - 1s 654us/step - loss: 0.5620 - accuracy: 0.7307
Epoch 97/100
804/804 [==============================] - 0s 609us/step - loss: 0.5619 - accuracy: 0.7316
Epoch 98/100
804/804 [==============================] - 0s 602us/step - loss: 0.5617 - accuracy: 0.7303
Epoch 99/100
804/804 [==============================] - 0s 615us/step - loss: 0.5622 - accuracy: 0.7306
Epoch 100/100
804/804 [==============================] - 1s 647us/step - loss: 0.5618 - accuracy: 0.7307

In [33]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5735 - accuracy: 0.7190 - 139ms/epoch - 519us/step
Loss: 0.5735458731651306, Accuracy: 0.7189504504203796

In [36]:
# Export our model to HDF5 file
#  YOUR CODE GOES HERE
nn.save('Folder/starter_code.h5')